@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&family=Roboto:wght@300;400;500;700&family=Sora:wght@400;600;700&display=swap');
.main {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  display: block;
  width: 100%;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.left .h2 {
  color: #000;
  font-family: 'Roboto';
  font-size: 50.597px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left p {
  color: #4d455d;
  font-family: 'Roboto';
  font-size: 24.633px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inner-left {
  width: 50%;
}

.inner-left p {
  color: #4d455d;
  font-family: Roboto;
  font-size: 12.063px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inptags {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input {
  padding: 8px;
  margin-bottom: 5px;
  border: 2.447px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border-radius: 6.118px;
  background: #fff;
  text-indent: 20px;
}

input::placeholder {
  color: #7d7d7d;
  font-family: 'Roboto';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.input-errors {
  color: rgba(193, 9, 9, 0.799);
  text-align: center;
  display: inline;
  width: 100%;
  font-size: small;
}
.submit {
  background: #f24c4c;
  border-radius: 6.12px;
  border-style: solid;
  border-color: transparent;
  border-width: 2.45px;
  margin: 20px 0px;
  height: 54.2px;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: 'Sora';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 4.89px 4.89px 0px rgba(0, 0, 0, 0.25);
}
