@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

body{
    background-color: #E5E5E5;
}
.form-horizontal{
    background-color: white;
  }
.cont{
    background-color: #E5E5E5;
    height: 100%;
}
.all-cont{
    background-color: white;
    width: 428px;
    height: 926px;
    max-width: 428px;
    max-height: 926px;
}
.header{
    background-color: #131313;
    width: 100%;
    height: 40px;
}
.main{
    padding: 25px 35px;
    margin: 0px 20px;
    text-align: center;
    align-items: center;
}


.my-profile-text {
    color: rgba(19, 19, 19, 1);
    height: auto;
    font-size: 17.696121215820312px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text-right {
    color: rgba(19, 19, 19, 1);
    height: auto;
    font-size: 17.696121215820312px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin: 25px;
    text-decoration: none;
  }
  .img{
    margin: 32px 0px 53px 0px;
    border: 1px dashed black;
    height: 280px;
    border-radius: 10px;
  }

  .inner-img{
    width:  80%;
    margin: 35% auto;
  }
  img{
    width: 95%;
  }

.form-control:focus {
    box-shadow: none;
    border-color: #114b5f; 
}

.my-profile-text02 {
    color: rgba(19, 19, 19, 1);
    font-size: 14.525806427001953px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 190.00000953674316%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .my-profile-text03 {
    font-weight: 600;
  }

.profile-button {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  width: 68%;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #4A9BC7;
  text-decoration: none; 
}
.profile-btn{
    margin-top: 180px;
    margin-bottom: 70px;
}



