@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');
body{
    font-family: sora;
    font-size: 16px;
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
}
.left{
    background-color: #8B1874;
    height: 100vh;
    width: 50%;
    color: #FFFFFF;
    
}
.left .img{
    padding-left: 6.5em;
    padding-top: 6em;
    /* height: 35%; */
    
}
.left p{
    font-size: 11.4px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;


}
.background{
    background-image: url(../asset/white.png);
    margin-top: 5%;
    height: 49%;
    overflow: hidden;
    background-repeat: no-repeat;
}
.right{
    width: 50vw;

}
.inner-right{
  width: 50%;
  padding: 10px 50px;
}
.inner-right h2{
    padding-top: 2em;
    padding-bottom: 1em;
}
.inner-right .inptags{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
input{
    padding: 8px;
    width: 250%;
    border: #8B1874 solid 2px;
    border-radius: 4px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.submit{
    border: #B71375 solid 1px;
    padding: 10px;
    background-color: #B71375;
    width: 250%;
    margin-block: 1em;
    font-size: 12.5px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 3px 2px  rgba(0, 0, 0, 0.25);
}
.foot{
    font-size: 12.06px;
    font-weight: 300;
    text-align: center;
    padding: 1em;
}
@media(max-width: 1200px){
    .left{
        background-color: #8B1874;
        height: 100vh;
        width: 48vw;
        color: #FFFFFF;  
        background-image: none;     
    }
    .inner-right{
      width: 50vw;
    }
    .left .img{
        height: 25%;       
    }
    input{
    
        width: 100%;
    }
    .submit{
        width: 100%;
    }
}
@media(max-width: 700px){
    body{
        font-family: sora;
        font-size: 16px;
        overflow: visible;
    }
    .left{
        background-color: #8B1874;
        height: 60vh;
        width: 100vw;
        color: #FFFFFF;
        background-image: none;
    }
    .inner-right{
      width: 100vw;
    }
    .left .img{
        height: 40vw;        
    }
    input{    
        width: 100%;
    }
    .submit{
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
}
