@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&family=Roboto:wght@300;400;500;700&family=Sora:wght@400;600;700&display=swap');
.main {
  padding: 2% 5%;
  margin-bottom: 10%;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top img {
  height: auto;
  width: 100%;
}
.inner-right h2 {
  color: #4d455d;
  font-family: 'Roboto', sans-serif;
  font-size: 32.43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1em;
  width: 100%;
}

.inner-right {
  padding: 1% 20%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  position: relative;
}
.inner-right h2 {
  padding-top: 2em;
  padding-bottom: 1em;
}
.inner-right .inptags {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input {
  padding: 8px 7px;
  margin-bottom: 5px;
  border: 2.447px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border-radius: 6.118px;
  background: #fff;
  text-indent: 20px;
}

input::placeholder {
  color: #7d7d7d;
  font-family: 'Roboto';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.input-errors {
  color: rgba(193, 9, 9, 0.799);
  text-align: center;
  display: inline;
  width: 100%;
  font-size: small;
}
.pass-img {
  cursor: pointer;
  margin-left: -30px;
  z-index: 100;
}
.submit {
  background: #f24c4c;
  border-radius: 6.12px;
  border-style: solid;
  border-color: transparent;
  border-width: 2.45px;
  margin: 20px 0px;
  height: 54.2px;
  position: relative;
  color: #fff;
  font-family: 'Sora';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 4.89px 4.89px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s background;
}

.twitter:active {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background: #fff;
  color: #f24c4c;
  border: none;
}
.foot {
  border: none;
  font-size: 12.06px;
  font-family: 'Roboto';
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.foot-btn {
  font-family: 'Roboto';
  border: none;
  font-size: 11.06px;
}

.foot strong {
  color: #4d455d;
  font-family: 'Roboto';
  font-size: 12.761px;
  font-style: normal;
  font-weight: 700;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
  .top img {
    height: auto;
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  .top {
    width: 100%;
    height: auto;
  }
  .top img {
    height: auto;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 768px) {
  .main {
    padding: 2% 0%;
    margin-bottom: 10%;
  }
  .top {
    width: 100%;
    height: auto;
  }
  .top img {
    height: auto;
    width: 70%;
  }
  .foot-txt {
    font-size: 11px;
  }

  .foot-txt strong {
    font-size: 11px;
  }

  .foot-btn {
    font-size: 11px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    margin: 10% 0%;
  }
  .top {
    height: auto;
    width: 100vw;
  }
  .top img {
    height: auto;
    width: 100%;
  }
  .inner-right {
    padding: 1% 0%;
  }
  .foot {
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }
  .foot-txt {
    font-size: 8px;
  }

  .foot-txt strong {
    font-size: 10px;
    margin-left: -10px;
  }

  .foot-btn {
    font-size: 8px;
  }
}
