@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&family=Roboto:wght@300;400;500;700&family=Sora:wght@400;600;700&display=swap');
.left {
  background: url('../images/7600.png') no-repeat;
  background-color: #293462;
  background-size: cover;
  width: 50vw;
  height: auto;
}
.main-img {
  margin: auto;
  display: block;
  width: 60%;
}
.img-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.right {
  width: 50vw;
  padding: 5% 8%;
}

.right h2 {
  color: #4d455d;
  font-family: 'Roboto', sans-serif;
  font-size: 32.43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1em;
}

.right .inptags {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
input {
  padding: 8px 7px;
  margin-bottom: 5px;
  border: 2.447px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6.118px;
  background: #fff;
  text-indent:20px;
}

input::placeholder {
  color: #7d7d7d;
  font-family: 'Roboto';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.input-errors {
  color: rgba(193, 9, 9, 0.799);
  text-align: center;
  display: inline;
  width: 100%;
  font-size: small;
}
.submit {
  background: #f24c4c;
  border-radius: 6.12px;
  border-style: solid;
  border-color: transparent;
  border-width: 2.45px;
  margin: 20px 0px;
  height: 54.2px;
  position: relative;
  color: #fff;
  font-family: 'Sora';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 4.89px 4.89px 0px rgba(0, 0, 0, 0.25);
}
.social-media {
  display: flex;
  flex-direction: column;
  border-radius: 24.473px;
  opacity: 0.75000001192092896;
  background: #cfcfcf;
  padding: 8% 5%;
  margin-top: 10px;
}
.social-media h2 {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15.261px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.inner-social-media {
  padding: 0% 10%;
}

.google {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-size: 10%;
  font-weight: 400;
  padding-block: 10px;
  padding: 7px 15%;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.25);
  margin-block: 8px;
  color: #000000;
  text-align: left;
  font: 200 15.26px 'Roboto', sans-serif;
}

.google img {
  height: 10%;
}
.facebook {
  border: 1px solid #3d6ad6;
  background-color: #3d6ad6;
  font-size: 12.5px;
  font-weight: 400;
  margin-block: 8px;
  padding-block: 10px;
  width: 100%;
  padding: 7px 15%;
  border-radius: 8px;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: left;
  font: 400 15.26px 'Roboto', sans-serif;
}

.twitter {
  border: 1px solid #1da1f3;
  background-color: #1da1f3;
  font-size: 12.5px;
  font-weight: 400;
  margin-block: 8px;
  width: 100%;
  color: #fff;
  padding-block: 10px;
  padding: 7px 15%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.25);
  text-align: left;
  font: 400 15.26px 'Roboto', sans-serif;
}
.foot {
  border: none;
  font-size: 12.06px;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
  background-color: white;
  padding: 20px;
}
.foot-btn {
  font-family: 'Roboto';
  border: none;
  font-size: 11.06px;
}

.foot strong {
  padding-left: 5px;
  color: #4d455d;
  font-family: 'Roboto';
  font-size: 12.761px;
  font-style: normal;
  font-weight: 700;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 993px) and (max-width: 1200px){
  .left {
    width: 50vw;
    height: auto;
  }
  .facebook{
    padding: 7px auto;
  }

  .twitter{
    padding: 7px auto;
  }

  .google{
    padding: 7px auto;
  }
  .foot {
    font-size: auto;
  }
  .foot-btn {
    font-size: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  .left {
    width: 50vw;
    height: auto;
  }

  .right {
    height: auto;
  }
  .facebook{
    padding: 7px 7%;
    font-size: 12px;
  }

  .twitter{
    padding: 7px 7%;
    font-size: 12px;
  }

  .google{
    padding: 7px 7%;
    font-size: 12px;
  }
  .google img {
    height: auto;
  }

  .facebook img {
    height: auto;
  }

  .twitter img {
    height: auto;
  }

  .foot {
    font-size: auto;
  }
  .foot-btn {
    font-size: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 768px) {
  .left {
    width: 50vw;
    height: auto;
  }

  .right {
    width: 50vw;
  }

  .facebook{
    padding: 7px auto;
    font-size: 10px;
  }

  .twitter{
    padding: 7px auto;
    font-size: 10px;
  }

  .google{
    padding: 7px auto;
    font-size: 10px;
  }

  .google img {
    height: 20px;
  }

  .facebook img {
    height: 20px;
  }
  .twitter img {
    height: 20px;
  }
  .foot {
    font-size: auto;
  }

  .foot-btn {
    font-size: auto;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-main {
    display: block;
    flex-direction: column;
  }
  .left {
    height: 15vh;
    width: 100vw;
    background: none;
    background-color: #293462;
  }
  .img-height {
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 100%;
    width: 75%;
  }
  .main-img {
    height: 80%;
    width: 100%;
  }
  .google{
    padding: 7px 12%;
  }
  .facebook{
    padding: 7px 12%;
  }
  .twitter{
    padding: 7px 12%;
  }
  .right {
    width: 100vw;
  }

  .right h2 {
    padding-top: 1em;
  }

  .foot {
    font-size: 10.06px;
  }

  .foot-btn {
    font-size: 12px;
    margin: auto;
  }
}
